@charset "UTF-8";

#center,.center
{
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  background-color:White;
}
h1
{
	margin-left:300px;
	margin-right:500px;
	padding:20px;
	text-align:center;
}
th
{
	background-color:LightSteelBlue;
}
td{
  height: 50px;
  vertical-align: bottom;
  text-align:center;
}
th
{
	width: 200px;
    text-align: center;
     padding: 5px;
}
.add
{
	background-color : DeepSkyBlue;
	color:white;
	padding: 5px 8px;
	text-decoration: none;
	box-shadow: 3px 6px #888888;
}
#coin
{

	margin: auto;
    
}
.record,#result
{
	text-align :center;
    color:Red;
	font-size: 20px;
}
h2
{
	margin-left:300px;
	margin-right:500px;
	text-align :center;
}
#rate
{
	color : SeaGreen;
	text-align : center;
}
#date
{
	color : SlateGrey;
	text-align : center;
}

tr:nth-child(even) 
{
	background-color: #f2f2f2;
}