@charset "UTF-8";

body,html
{
	background-image:url("");
	background-repeat: no-repeat;
	height:100%;
	background-size: cover;
	 
}

#topic
{
	
     text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px Gold;
     text-align : center;
}
h1
{
	text-align : center;
}
input[type=text],input[type=password]{
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid ;
  box-sizing: border-box;
  margin-left:30px;
  
}
.container{
  padding: 16px;
  border-radius: 20px ;  
  border:2px solid blur;
  box-shadow: 5px 10px #888888;
  width:40%;
  background-color:rgba(240, 240, 240,0.5); 
  position: absolute;
    top:150px;;
    bottom: 350px;
    left: 550px;
    right: 0;
  
  }
  
h2,h3
{
	text-align:left;
    margin-left:30px;
} 

#loginbtn{
	 width: 50%;  
    height: 50px;  
    border: none;  
    border-radius: 10px;  
    padding-left: 7px;  
    color: black;  
	background-color:rgb(30, 144, 255,0.8);
	margin-left:30px;
	cursor:pointer;
} 
.btn-grp{
	  
    border: none;  
    border-radius: 10px;  
    color: black;  
	background-color:rgb(30, 144, 255,0.8);
	margin : auto;
	cursor:pointer;
	 height:50px; 
    width:50%; 
    margin: -20px -50px; 
    position:relative;
    margin-top : 20px;
    top:20%; 
    left:30%;
	
} 

#error
{
	color:red;
	text-align:center;
	font-family: "Times New Roman";
	font-size: 50px;
}

#result
{
	color:red;
	text-align:right;
	margin-right:350px;
	
}

img
{
	margin-left:30px;
}

.link
{
	color:rgb(30, 144, 255,0.8);
	font-family: "Arial";
	font-size: 15px;
	margin-left:150px;
}

.sign
{
	color:rgb(30, 144, 255,0.8);
}

.signup
{
position:absolute;
top:650px;	
left:750px;
width: 350px;
  height: 200px; 
text-align:center;
  
}